 .u-section-1 {
  background-image: none;
  min-height: 283px;
}

.u-section-1 .u-shape-1 {
  height: 199px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 178px;
  height: 178px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/28EE9FB6-08FA-4C4F-8FC6-63C38A8383C8.JPG");
  background-position: 50% 50%;
  margin: -188px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  text-shadow: 1px 1px 0px rgba(0,49,25,1);
  font-size: 2.25rem;
  width: 372px;
  margin: -108px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 542px;
  margin: 0 auto;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: -56px calc(((100% - 1140px) / 2) + 76px) 60px auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 610px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -150px;
    margin-left: calc(((100% - 940px) / 2) + 134px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -244px;
    margin-right: calc(((100% - 940px) / 2) + 50px);
    margin-left: calc(((100% - 940px) / 2) + 336px);
  }

  .u-section-1 .u-text-2 {
    width: 543px;
    margin-top: 329px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -280px;
    margin-right: calc(((100% - 940px) / 2) + 292px);
  }

  .u-section-1 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 759px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 6px;
    margin-left: calc(((100% - 1140px) / 2) + 359px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -109px;
    margin-left: calc(((100% - 1140px) / 2) + 293px);
    margin-right: calc(((100% - 1140px) / 2) + 293px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 299px);
    margin-right: calc(((100% - 1140px) / 2) + 299px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 639px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 523px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -23px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 509px;
}

.u-section-2 .u-text-1 {
  font-weight: 100;
  margin: 14px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 100;
  font-size: 6rem;
  margin: 14px 101px 0;
}

.u-section-2 .u-image-1 {
  width: 683px;
  height: 389px;
  object-position: 0% 0%;
  margin: 14px auto 0;
}

.u-section-2 .u-image-2 {
  width: 1054px;
  height: 419px;
  object-position: 51.88% 0%;
  margin: -418px auto 0;
}

.u-section-2 .u-group-1 {
  width: 302px;
  min-height: 157px;
  height: auto;
  margin: -274px auto 50px 256px;
}

.u-section-2 .u-image-3 {
  width: 128px;
  height: 112px;
  margin: 0 auto 0 6px;
}

.u-section-2 .u-image-4 {
  width: 128px;
  height: 112px;
  margin: -111px auto 0 168px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 19px 29px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: -24px auto 0 2px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 77px;
    margin-right: 1px;
    margin-left: 39px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 87px;
  }

  .u-section-2 .u-image-2 {
    width: 940px;
    height: 374px;
    margin-top: -439px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -229px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -7px;
    margin-left: 206px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 286px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -141px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 308px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 215px;
    margin-top: -358px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -70px;
    margin-left: 238px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 194px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 135px;
    margin-top: -244px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 38px;
  }
}